<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/style-pasien.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoGo Healthcare - Tanya Dokter</title>
</head>
<body>

    <% if( data.role == 'admin' ) { %>
        <!-- Navigation Bar -->
        <div class="navbar white">
            <span class="nav-title"><strong>GoGo Health<em>care</em></strong></span>
            <i class="material-icons">view_headline</i>
            <div class="menu">
                <a class="deco-none white" href="/admin/jadwal"><span>Jadwal</span></a>
                <a class="deco-none white" href="/pasien"><span class="actived">Jawab</span></a>
                <a class="deco-none white" href="/admin/data_pasien"><span>Pasien</span></a>
                <a class="deco-none white" href="/admin/info"><span>Info Kesehatan</span></a>
                <a class="deco-none white" href="/logout"><span>Keluar</span></a>
            </div>
            <div class="responsive-menu text-center display-none">
                <a class="deco-none white" href="/admin/jadwal"><div>Jadwal</div></a>
                <a class="deco-none white" href="/pasien"><div class="actived">Jawab</div></a>
                <a class="deco-none white" href="/admin/data_pasien"><div>Pasien</div></a>
                <a class="deco-none white" href="/admin/info"><div>Info Kesehatan</div></a>
                <a class="deco-none white" href="/logout"><div>Keluar</div></a>
            </div>
        </div>

    <div class="container" style="margin-bottom: 20vh;">
        <!-- <p class="logout">
            <a href="/logout" class="deco-none white">keluar</a>
        </p> -->
        <p class="size-xxlarge green ">Halo <%= data.nama %></p>
        <div class="alert-msg">
            <div class="alert-box text-center" style="width: 100%; margin: 0;">
                <%- include('./../partials/messages') %>
            </div>
        </div>
        <div class="box">
            <p class="text-center white size-xlarge">Jawab Pasien</p>
            <p class="text-center">
                <span style="margin: 0 .5%; padding: .5% 1%; background-color: lightgray; border-radius: 5px;"><a href="/pasien" class="green">Dijawab</a></span>
                <span style="margin: 0 .5%; padding: .5% 1%; background-color: lightgray; border-radius: 5px;"><a href="/pasien/jawab" class="green deco-none">BelumDijawab</a></span>
            </p>
            <div class="content-box green">
                <% pertanyaan.forEach(x => { %>
                    <% if( x.jawaban != 'Belum Dijawab' ) { %>
                        <div class="content">
                            <div class="text-cont">
                                <div class="pertanyaan main">
                                    <div>
                                        <strong class="size-large">Pasien (No/Nama):</strong>
                                        <p>
                                            <%= x.no %> / <%= x.nama %>
                                        </p>
                                    </div>
                                    <div>
                                        <strong class="size-large">Pertanyaan:</strong>
                                        <p>
                                            <%= x.pertanyaan %>
                                        </p>
                                    </div>
                                    <div>
                                        <strong class="size-large">Tanggal:</strong>
                                        <p>
                                            <%= x.tanggal %>
                                        </p>
                                    </div>
                                    <div>
                                        <strong class="size-large">Jam:</strong>
                                        <p>
                                            <%= x.waktu %>
                                        </p>
                                    </div>
                                </div>
                                <div class="jawaban main">
                                    <div>
                                        <strong class="size-large">Jawaban:</strong>
                                        <p>
                                            <% /*if( x.jawaban == 'Belum Dijawab' ) { %>
                                                <textarea name="jawaban" id="txt" cols="30" rows="10" placeholder="Jawab Disini.."></textarea>
                                            <% } else{ %>
                                            <% }*/ %>
                                            <%= x.jawaban %>
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="action">
                                <span><a href="/pasien/delete/<%= x._id %>" onclick="return confirm('Apakah ingin menghapus pertanyaan ini?')" class="deco-none white">Hapus</a></span>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
    </div>
    <script src="./js/script.js"></script>
    <% } else{ %>
        <!-- Navigasi Bar -->
        <div class="navbar white">
            <span class="nav-title"><strong>GoGo Health<em>care</em></strong></span>
            <i class="material-icons">view_headline</i>
            <div class="menu">
                <a class="deco-none white" href="/"><span>Beranda</span></a>
                <a class="deco-none white" href="/pasien"><span class="actived">Tanya Dokter</span></a>
                <a class="deco-none white" href="/info_kesehatan"><span>Info Kesehatan</span></a>
                <a class="deco-none white" href="/buat_janji"><span>Buat Janji</span></a>
                <a class="deco-none white" href="/logout"><span>Keluar</span></a>
            </div>
            <div class="responsive-menu text-center display-none">
                <a class="deco-none white" href="/"><div>Beranda</div></a>
                <a class="deco-none white" href="/pasien"><div class="actived">Tanya Dokter</div></a>
                <a class="deco-none white" href="/info_kesehatan"><div>Info Kesehatan</div></a>
                <a class="deco-none white" href="/buat_janji"><div>Buat Janji</div></a>
                <a class="deco-none white" href="/logout"><div>Keluar</div></a>
            </div>
        </div>
        
        <div class="container" style="margin-bottom: 20vh;">
            <p class="size-xxlarge green ">Halo <%= data.nama %></p>
            <!-- <p class="logout">
                <a href="/logout" class="deco-none white">keluar</a>
            </p> -->
            <div class="bio">
                <p>No Pasien: <%= data.no %></p>
                <p>No Telfon/Hp: <%= data.telfon %></p>
                <p>Alamat: <%= data.alamat %></p>
            </div>
            <div class="clicked"></div>
            <div class="alert-box text-center" style="width: 100%; margin: 0;">
                <%- include('./../partials/messages') %>
            </div>
            <div class="box">
                <div class="title text-center green size-xlarge" style="margin: 5% 0;">
                    <span class="bg-white addP" style="padding: 1% .5%; border-radius: 5px; cursor: pointer;">
                        Tanya Dokter <i class='fas fa-pen-alt bg-green white'></i>
                    </span>
                </div>
                <div class="content-box green">
                    <% pertanyaan.forEach(x => { %>
                        <% if( x.no == data.no ) { %>
                            <div class="content">
                                <div class="text-cont">
                                    <div class="pertanyaan main">
                                        <div>
                                            <strong class="size-large">Pertanyaan:</strong>
                                            <p>
                                                <%= x.pertanyaan %>
                                            </p>
                                        </div>
                                        <div>
                                            <strong class="size-large">Tanggal:</strong>
                                            <p>
                                                <%= x.tanggal %>
                                            </p>
                                        </div>
                                        <div>
                                            <strong class="size-large">Jam:</strong>
                                            <p>
                                                <%= x.waktu %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="jawaban main display-none">
                                        <div>
                                            <strong class="size-large">Jawaban:</strong>
                                            <p>
                                                <%= x.jawaban %>
                                            </p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="action">
                                    <span><a href="/pasien/delete/<%= x._id %>" onclick="return confirm('Apakah ingin menghapus pertanyaan ini?')" class="deco-none white">Hapus</a></span>
                                    <span class="answer">Lihat Jawaban</span>
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
                </div>
            </div>
        </div>

<script src="./js/script.js"></script>
        <script>
            document.querySelector('.addP').addEventListener('click', function() {
                document.querySelector('.container .clicked').innerHTML += `
                <div class="bg-popup"></div>
                <div class="popup text-center">
                    <form action="/pasien" method="POST">
                        <p>
                            <input type="text" name="date" id="tggl" onclick="return alert('Anda Tidak Bisa Mengganti Tanggal!')" style="cursor: not-allowed; position: fixed; bottom: 0; left: 0; display: none;">
                        </p>
                        <p>
                            <input type="text" name="time" id="waktu" onclick="return alert('Anda Tidak Bisa Mengganti Waktu!')" style="cursor: not-allowed; position: fixed; bottom: 0; left: 0; display: none;">
                        </p>
                        <p>
                            <input type="text" name="noPasien" id="np" onclick="return alert('Anda Tidak Bisa Mengganti Nomor Pasien!')" value="<%= data.no %>" style="cursor: not-allowed; position: fixed; bottom: 0; left: 0; display: none;">
                        </p>
                        <p>
                            <input type="text" name="namaPasien" id="nap" onclick="return alert('Anda Tidak Bisa Mengganti Nama Pasien!')" value="<%= data.nama %>" style="cursor: not-allowed; position: fixed; bottom: 0; left: 0; display: none;">
                        </p>
                        <p>
                            <textarea name="pertanyaan" id="txt" cols="30" rows="10" placeholder="Ketik Petanyaan Disini.."></textarea>
                        </p>
                        <p><input type="submit" value="Kirim"></p>
                    </form>
                    <p id="cancel">Batal</p>
                </div>
                    `
                tggl.value = `${new Date().getDate()}-${new Date().getMonth() + 1}-${new Date().getFullYear()}`
                    waktu.value = `${new Date().getHours()}:${new Date().getMinutes()}`
                    tggl.addEventListener('change', function() {
                return alert('Anda Tidak Bisa Mengubah Tanggal!')
                })
        
                cancel.addEventListener('click', function() {
                    document.querySelector('.popup').remove()
                    document.querySelector('.bg-popup').remove()
                })
            })
        
            for( const m of document.querySelectorAll('.container .box .content-box .content .action .answer') ) {
                m.addEventListener('click', function() {
                    m.parentElement.parentElement.firstElementChild.firstElementChild.nextElementSibling.classList.toggle('display-none')
                    if( !m.parentElement.parentElement.firstElementChild.firstElementChild.nextElementSibling.classList.contains('display-none') ) {
                        m.innerHTML = 'Sembunyikan Jawaban'
                    } else{
                        m.innerHTML = 'Lihat Jawaban'
                    }
                })
            }
            </script>
    <% } %>



<script src="./js/script.js"></script>
</body>
</html>